.music-table-wrapper {
  height: 560px;
  width: 500px;
}

.music-table-wrapper a {
  color: var(--color-red);
  text-decoration: none;
}

.music-table-clear {
  padding: 10px 10px;
  width: 100%;
  border: solid 1px var(--color-grey);
  border-bottom: none;
}

.table-search-input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.selected {
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 5px;
}

.generated {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--color-red);
  width: 500px;
}

.generated:hover {
  color: var(--color-black-soft);
}
