.select-table {
  height: 560px;
  width: 500px;
}

.select-table a {
  color: var(--color-red);
  text-decoration: none;
}

.selected-row {
  background-color: lightblue !important;
}

.table-search-input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}