* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-black: #302329;
  --color-black-soft: #353a47;
  --color-grey: #d0d3d2;
  --color-gold: #fac461;
  --color-red: #dc3c2e;
}
