* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --color-black: #302329;
    --color-black-soft: #353a47;
    --color-grey-dark: #a1a1a1;
    --color-grey: #d0d0d0;
    --color-grey-soft: #f8f8f8;
    --color-gold: #fac461;
    --color-red: #dc3c2e;

    --font-small: 10pt;
    --font-tiny: 8pt;
}

button {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
